.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.images {
  display: block;
  margin: 60px auto;
  width: 200px;
}

.title {
  margin-top: -25px;
  font-size: 40px;
}

.desc {
  font-weight: 600;
}

.inputCard {
  box-shadow: none !important;
  margin-inline: 23px !important;
  margin-top: 50px;
}

.inputCardContent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.userInput {
  font-size: 18px;
}

.inputSubmit {
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 65px;
  font-size: 20px;
}
