.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.images {
  display: block;
  margin: 60px auto;
  width: 200px;
}

.iconCard {
  box-shadow: none !important;
  margin-top: -20px;
  background-color: transparent;
}

.title {
  margin-top: -30px;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.desc {
  margin-top: -1px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.inputCard {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0px 2px !important;
  margin-top: 50px;
  margin-inline-start: 23px !important;
  margin-inline-end: 23px !important;
}

.inputCardContent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.userInput {
  font-size: 18px;
}

.inputSubmit {
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 65px;
  font-size: 18px;
}
